<article class="create-link-container">
  <section class="create-link-header">
    <label>= Link #{{itemNumber + 1}}</label>

    <button class="btn"
            (click)="removeItem()">Remove
    </button>
  </section>

  <form #form="ngForm">
    <section class="create-link-platform">
      <label for="options">Platform</label>

      <select class="input-reset create-link-input"
              id="options"
              name="options"
              required
              type="dropdown"
              [(ngModel)]="selectedPlatform"
              (ngModelChange)="updateLinkData()"
              #dropdown="ngModel">
        <option class="create-link-input-option"
                *ngFor="let option of linkOptions"
                [value]="option">{{option}}</option>
      </select>

      <div class="create-link-input-dropdown-icon">V</div>
    </section>

    <section class="create-link-link">
      <label for="link">Link</label>

      <input class="input-reset create-link-input"
             id="link"
             name="link"
             required
             type="text"
             #link="ngModel"
             [ngClass]="{'create-link-input-error' : (link.errors?.linkError || link.errors?.emptyError) && (link.touched || link.dirty)}"
             [(ngModel)]="linkValue"
             (blur)="updateLinkData()"
             appEmptyValidator
             appLinkValidator/>
      <div class="create-link-input-error-message"
           *ngIf="link.invalid && (link.dirty || link.touched)">
        <div *ngIf="link.errors?.emptyError">{{link.errors?.emptyError}}</div>
        <div *ngIf="link.errors?.linkError">{{link.errors?.linkError}}</div>
      </div>
    </section>
  </form>
</article>
